@{
    ViewBag.Title = "Home";
    ViewBag.flowText = " Portal de servicios INTIMARK";
}

<br />
<br />
<div class="row">

    <div class="col l3 m6 s12">
        <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator responsive-img" src="~/img/form1.jpg" />
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Pedir_Accesos<i class="material-icons right">more_vert</i></span>
                <a class="waves-effect waves-light btn-small grey lighten-3 black-text" href="/portal/Permisos/Contact" target="_blank"><i class="material-icons right">send</i>Iniciar</a>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Acceso a aplicaciones<i class="material-icons right">close</i></span>
                <p>Formulario para pedir acceso a alguna de las aplicaciones dentro de este sistema</p>
            </div>
        </div>
    </div>

    <div class="col l3 m6 s12">
        <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator responsive-img" src="~/img/desicione.jpg" />
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Incidencias TI<i class="material-icons right">more_vert</i></span>
                <a class="waves-effect waves-light btn-small grey lighten-3 black-text" href="http://128.150.102.131:8080/intimark/public/" target="_blank"><i class="material-icons right">send</i>Iniciar</a>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Incidencias<i class="material-icons right">close</i></span>
                <p>Portal de levantamiento de incidencias internas Intimark.</p>
            </div>
        </div>
    </div>

    <div class="col l3 m6 s12">
        <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator responsive-img" src="~/img/intro-section.png" style="height:180px;width:100%;" />
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Intimedia<i class="material-icons right">more_vert</i></span>
                <p><a href="http://128.150.102.75/moodle/" target="_blank" class="waves-effect waves-light btn-small grey lighten-3 black-text"><i class="material-icons right">send</i>Iniciar</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Intimedia<i class="material-icons right">close</i></span>
                <p>Portal de cursos de la empresa</p>
            </div>
        </div>
    </div>


    <div class="col l3 m6 s12">
        <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator responsive-img" src="~/img/directory2.png" style="height:180px;width:100%;" />
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Directorio<i class="material-icons right">more_vert</i></span>
                <p><a href="http://128.150.102.131:85/" target="_blank" class="waves-effect waves-light btn-small grey lighten-3 black-text"><i class="material-icons right">send</i>Iniciar</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Directorio<i class="material-icons right">close</i></span>
                <p>Directorio telefónico interno intimark</p>
            </div>
        </div>
    </div>


    <!--div class="col l3 m6 s12">
        <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="~/img/checklist.jpg" style="height:180px;width:100%;" />
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Seguimiento<i class="material-icons right">more_vert</i></span>
                <p><a href="http://128.150.102.153:8080/login_t/index.php" target="_blank" class="waves-effect waves-light btn-small grey lighten-3 black-text"><i class="material-icons right">send</i>Iniciar</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Seguimiento Web<i class="material-icons right">close</i></span>
                <p>Reportes de Metas generales y por modulo</p>
            </div>
        </div>
    </div-->




    <div class="col l3 m6 s12">
        <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="~/img/agenda.png" style="height:180px;width:100%;" />
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Salas<i class="material-icons right">more_vert</i></span>
                <p><a href="http://128.150.102.131:86/" target="_blank" class="waves-effect waves-light btn-small grey lighten-3 black-text"><i class="material-icons right">send</i>Iniciar</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Reservación de salas<i class="material-icons left">close</i></span>
                <p>Reservación de salas de juntas, por medio de calendario y horario</p>
            </div>
        </div>
    </div>

   <!-- <div class="col l3 m6 s12">
        <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="~/img/dashboard-1.png" style="height:180px;width:100%;" />
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">DashBoard<i class="material-icons right">more_vert</i></span>
                <p><a href="http://128.150.102.155:200/" target="_blank" class="waves-effect waves-light btn-small grey lighten-3 black-text"><i class="material-icons right">send</i>Iniciar</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">DashBoard<i class="material-icons left">close</i></span>
                <p>DashBoard producto de FastReact</p>
            </div>
        </div>
    </div>-->

    <div class="col l3 m6 s12">
        <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="responsive-img activator" src="~/img/eficiencia.jpg" style="height:180px;width:100%;" />
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Eficiencias<i class="material-icons right">more_vert</i></span>
                <p><a href="http://128.150.102.131/eficiencias" target="_blank" class="waves-effect waves-light btn-small grey lighten-3 black-text"><i class="material-icons right">send</i>Iniciar</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Eficiencias<i class="material-icons left">close</i></span>
                <p>Portal de eficiencias de costura</p>
            </div>
        </div>
    </div>

    <div class="col l3 m6 s12">
        <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="responsive-img activator" src="~/img/printer.jpg" style="height:180px;width:100%;" />
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Impresoras<i class="material-icons right">more_vert</i></span>
                <p><a href="/portal/Printer/Request" target="_blank" class="waves-effect waves-light btn-small grey lighten-3 black-text"><i class="material-icons right">send</i>Iniciar</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Cambio de toner<i class="material-icons left">close</i></span>
                <p>Formulario para pedir el cambio de toner</p>
            </div>
        </div>
    </div>
   <div class="col l3 m6 s12">
        <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="responsive-img activator" src="~/img/recuperacion.jpg" style="height:180px;width:100%;" />
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Procedimientos<i class="material-icons right">more_vert</i></span>
                <p><a href="http://128.150.102.131:90/Account/Login" target="_blank" class="waves-effect waves-light btn-small grey lighten-3 black-text"><i class="material-icons right">send</i>Iniciar</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Repositorio<i class="material-icons left">close</i></span>
                <p>Galería de procedimientos/ desc. puesto/ DRP´S</p>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="responsive-img activator" src="~/img/control2.jpg" style="height:180px;width:100%;" />
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Control_Accesos<i class="material-icons right">more_vert</i></span>
                <p><a href="http://128.150.102.131:8080/planta/loginvista.html" target="_blank" class="waves-effect waves-light btn-small grey lighten-3 black-text"><i class="material-icons right">send</i>Iniciar</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Repositorio<i class="material-icons left">close</i></span>
                <p>Registro de entrada y salida de personal, paquetería, material y herramienta.</p>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="responsive-img activator" src="~/img/sgd.png" style="height:180px;width:100%;" />
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">SGD<i class="material-icons right">more_vert</i></span>
                <p><a href="http://128.150.102.131:8000" target="_blank" class="waves-effect waves-light btn-small grey lighten-3 black-text"><i class="material-icons right">send</i>Iniciar</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Repositorio<i class="material-icons left">close</i></span>
                <p>Modulo: Solicitud de vacaciones</p>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="responsive-img activator" src="~/img/dashboardSGD.png" style="height:180px;width:100%;" />
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Dashboard SGD<i class="material-icons right">more_vert</i></span>
                <p><a href="http://128.150.102.131:8010" target="_blank" class="waves-effect waves-light btn-small grey lighten-3 black-text"><i class="material-icons right">send</i>Iniciar</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Repositorio<i class="material-icons left">close</i></span>
                <p>Modulo: dashboardSGD</p>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="responsive-img activator" src="~/img/produccion.png" style="height:180px;width:100%;" />
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Avances de Producción<i class="material-icons right">more_vert</i></span>
                <p><a href="http://128.150.102.40:8010" target="_blank" class="waves-effect waves-light btn-small grey lighten-3 black-text"><i class="material-icons right">send</i>Iniciar</a></p>
             <!--   <p><a href="http://128.150.102.131:8020" target="_blank" class="waves-effect waves-light btn-small grey lighten-3 black-text"><i class="material-icons right">send</i>Iniciar</a></p> -->
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Repositorio<i class="material-icons left">close</i></span>
                <p>Modulo: Avances de Produccion</p>
            </div>
        </div>
    </div>
	<div class="col l3 m6 s12">
		<div class="card small">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="responsive-img activator" src="~/img/backlog.png" style="height:180px;width:100%;" />
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">Backlog<i class="material-icons right">more_vert</i></span>
				<p><a href="http://128.150.102.131:8030" target="_blank" class="waves-effect waves-light btn-small grey lighten-3 black-text"><i class="material-icons right">send</i>Iniciar</a></p>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">Repositorio<i class="material-icons left">close</i></span>
				<p>Modulo: Backlog</p>
			</div>
		</div>
	</div>
    <div class="col l3 m6 s12">
		<div class="card small">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="responsive-img activator" src="~/img/paqueteria.png" style="height:180px;width:100%;" />
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">Guia Paqueteria<i class="material-icons right">more_vert</i></span>
				<p><a href="http://128.150.102.40/registro_paqueteria" target="_blank" class="waves-effect waves-light btn-small grey lighten-3 black-text"><i class="material-icons right">send</i>Iniciar</a></p>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">Repositorio<i class="material-icons left">close</i></span>
				<p>Modulo: Guia de Paqueteria</p>
			</div>
		</div>
	</div>
    

</div>

