@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-slate-900 transition-colors duration-300 antialiased;
  }
  
  html.dark body {
    @apply bg-slate-900 text-slate-100;
  }

  /* Efecto Glassmorphism opcional para las tarjetas */
  .glass {
    @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-xl;
  }
  
  html.dark .glass {
    @apply bg-slate-800/70 border-slate-700/30;
  }
}
